/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* CSS RESET OVER */

/* all */
body {
  font-family: 'Noto Sans', sans-serif;
  color: #000;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.commonTitle {
  font-size: 32px;
  padding-bottom: 8px;
}

.commonEngTitle {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: medium;
  margin-left: 16px;
}

.title {
  color: #000;
  line-height: 43px;
  border-bottom: 1px solid #000;
  margin-bottom: 16px;
}

.engTitle {
  color: #a00404;
}

.subTitle {
  color: #fff;
  text-align: center;
  line-height: 45px;
  border-bottom: 1px solid #fff;
  margin: 0 auto 32px;
}

.engSubTitle {
  color: #fff;
}

li {
  font-size: 24px;
  margin-bottom: 24px;
}

a {
  text-decoration: none;
  color: #fff;
}

/* name */
h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 80px;
  line-height: 94px;
  border-bottom: 2px solid #000;
  margin: 47px 0 48px;
  padding-bottom: 17px;
}

/* photo */
.photo {
  width: 324px;
  height: 324px;
  border-radius: 50%;
  margin-bottom: 48px;
}

/* profile */
.profile {
  margin-bottom: 48px;
}

.text {
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 24px;
}

.text li {
  margin-bottom: 0;
}

/* education */
.education {
  margin-bottom: 72px;
}

/* skill */
.skills {
  background-color: #415165;
  padding: 24px 0 36px;
  margin-bottom: 72px;
}

.skills .subTitle {
  width: 996px;
  margin-bottom: 40px;
}

.list {
  border-left: 1px solid #fff;
  width: 202px;
  padding-left: 24px;
  margin: 0 auto;
}

.list li {
  color: #FFF;
  font-weight: 300;
}

.list :last-child {
  margin-bottom: 0px;
}

/* work */
.work {
  margin-bottom: 72px;
}

.experience {
  width: 666px;
  border-left: 1px solid #000;
  margin-left: 24px;
}

.experience li {
  padding-left: 24px;
}

.experience img {
  width: 90px;
  height: 90px;
  margin: 8px 0;
}

.experience p {
  font-size: 20px;
  line-height: 30px;
}

/* footer */
.footer {
  background-color: #415165;
  padding-top: 24px;
}

.info li {
  color: #fff;
  text-align: center;
  margin-bottom: 16px;
}

.sns {
  text-align: center;
}

.sns li {
  display: inline-block;
  font-size: 0px;
  margin: 0 24px 36px 0;
}

.sns li:last-child {
  margin-right: 0;
}

.sns a {
  width: 48px;
  height: 48px;
}